body {
	margin: 0;
	padding: 0;
	background: #fff;
}

#menu {
	position: absolute;
	right: 0;
	top: 0;
	min-height: 100%;
}

#pushobj {
	position: absolute;
	top: 7px;
	right: 300px;
	color: #000;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	z-index: 1;
}