body {
	margin: 0;
	padding: 0;
	background: #243342;
}

#pushobj {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	color: #fff;
	background: #243342;
	padding-left: 300px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
}